PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/ARIA
MONGO_MAX_POOL_SIZE=20
MONGO_MIN_POOL_SIZE=2
MONGO_SERVER_SELECTION_TIMEOUT_MS=5000
MONGO_SOCKET_TIMEOUT_MS=45000
JWT_SECRET=your_secret_jwt_key
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
GEMINI_API_KEY=your_google_api_key
CORS_ORIGIN=your_frontend_url
